<div class="content">
  <img src="/assets/img/logo-min.png" alt="">
  <form action="" method="post" onsubmit="return false">
    <div id="randomLyrics">Clique no botão abaixo gere um trecho do nosso hino nacional brasileiro, Evidências de Chitãozinho e Xororó
    </div>
    <input type="button" value="Gerar parágrafo" class="btn-generate" (click)="randomParagraph()" />
  </form>

  <div class="shareThis">
    <div>
      <a class="facebook" href="http://www.facebook.com/sharer.php?u=http://evidenciasipsum.github.io&quote={{lyrics}}" target="_blank">Compartilhar no Facebook</a>

    </div>
    <div>
      <a class="twitter" href="https://twitter.com/share?url=https://evidenciasipsum.github.io&amp;text={{lyrics}}&amp;hashtags=evidenciasipsum"
        target="_blank">Compartilhar no Twitter</a>

    </div>
    <div>
      <a class="whatsapp" href="https://api.whatsapp.com/send?phone=whatsappphonenumber&text={{lyrics}}" target="_blank">Mandar prx @ no WhatsApp</a>

    </div>
  </div>
</div>

<div class="disclaimer">
  <small>Tradução gerada pelo
    <a href="http://translate.google.com" target="_blank">Google Tradutor</a>. Não entendo de Latim, então por favor, não leve 100% a sério essa tradução.</small>
  <small>Feito com amor e dor de cotovelo</small>
</div>
